<br>
<br>
<br>
<br>
<div class="row d-flex justify-content-center align-items-center" style="height: 15vh;">
    <div class="col-5 text-center mb-5">
        <h2 class="mb-4">Find Tripping travel plans from others</h2>
        <form action="/trip/search" class="d-flex justify-content-evenly">
            <input class="form-control me-2" placeholder="Search by country or keywords separated by space" name="searchTerm">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </div>
</div>
<div class="row d-flex justify-content-center mb-5">
    <div class="col-10 border-bottom">
        <h2>Most Recent</h2>
    </div>
</div>
<div class="row">
    <div class="col d-flex flex-wrap flex-row justify-content-evenly">
        <% trips.forEach((trip) => { %>
            <div class="card mb-4" style="width: 470px;">
                <a href="/trip/<%= trip._id %>">
                    <% if (trip.images.length === 0) { %>
                        <img src="<%= trip.country.countryId.image.url %>" alt="" class="card-img-top" style="height: 350px;">
                    <% } else { %>
                        <img src="<%= trip.images[0].url %>" alt="" class="card-img-top" style="height: 350px;">
                    <% } %>
                </a>
                <div class="card-body">
                    <h4 class="card-title"><%= trip.name %></h4>
                    <p class="card-text">
                        Country: <%= trip.country.countryId.name %> <br>
                        Number of days: <%= trip.itinerary.length  %>
                    </p>
                    <p class="fw-medium"><%= trip.description %></p>
                    <% if (currentUser) { %>
                        <div>
                            <% if (user.favorites.indexOf(trip._id) > -1) { %>
                                <form action="/user/<%= currentUser.id %>/trip/<%= trip._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger">Remove from favorites</button>
                                </form>
                            <% } else { %>
                                <form action="/user/<%= currentUser.id %>/trip/<%= trip._id %>" method="POST">
                                    <button type="submit" class="btn btn-primary">Add to favorites</button>
                                </form>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<script>
    const homeMenu = document.getElementById('home-menu')
    if (homeMenu) {
        homeMenu.classList.add('active')
        homeMenu.setAttribute('aria-current', 'page')
    }
</script>