<br>
<br>
<br>
<br>
<div class="row d-flex justify-content-center mb-5">
    <div class="col-10 border-bottom">
        <h2>Search results for "<%= searchTerm %>"</h2>
    </div>
</div>
<div class="row">
    <div class="col d-flex flex-wrap flex-row justify-content-evenly">
        <% trips.forEach((trip) => { %>
            <div class="card mb-4" style="width: 470px;">
                <a href="/trip/<%= trip._id %>">
                    <% if (trip.images.length === 0) { %>
                        <img src="<%= trip.country.countryId.image.url %>" alt="" class="card-img-top" style="height: 350px;">
                    <% } else { %>
                        <img src="<%= trip.images[0].url %>" alt="" class="card-img-top" style="height: 350px;">
                    <% } %>
                </a>
                <div class="card-body">
                    <h4 class="card-title"><%= trip.name %></h4>
                    <p class="card-text">
                        Country: <%= trip.country.countryId.name %> <br>
                        Number of days: <%= trip.itinerary.length  %>
                    </p>
                    <div class="text-truncate-container mb-3" style="height: 120px;">
                        <p class="fw-medium"><%= trip.description %></p>
                    </div>
                    <% if (currentUser) { %>
                        <div>
                            <% if (user.favorites.indexOf(trip._id) > -1) { %>
                                <form action="/user/<%= currentUser.id %>/trip/<%= trip._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger">Remove from favorites</button>
                                </form>
                            <% } else { %>
                                <form action="/user/<%= currentUser.id %>/trip/<%= trip._id %>" method="POST">
                                    <button type="submit" class="btn btn-primary">Add to favorites</button>
                                </form>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
</div>
